{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <h1>Registro de Usuario</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="card mx-auto" style="width: 30rem;">
            <h5 card="card-tittle">Ingrese sus datos</h5>
            {{  form | crispy }}
        
            <a class="btn btn-primary" href="{% url 'home' %}">Inicio</a>
            <a class="btn btn-secondary" href="{% url 'login' %}">Login</a>

            <button class="btn btn-sm btn-prymary float-end" type="submit">Registrarse</button>
        </div>
    </form>
</div>

{% endblock %}